Source: batteriewarner
Maintainer: Yves Fischer <yvesf+debian@xapek.org>
Build-Depends: debhelper (>= 9), dh-cargo, rustc

Package: batteriewarner
Architecture: any
Depends: ${misc:Depends}
Description: Batterie Wächter Programm.

